---
layout: marketing-components/base.liquid
metadata:
  helmet: >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/style.css">
---
{% assign links = page.url | locale_links %}
<div class="language-chooser demo-mb2">
	<ul class="demo-inline">
		<li><strong>{{ "languageswap" | i18n }}</strong></li>
		{%- for link in links %}
		{%- unless forloop.first %},{% endunless %}
		{%- capture originalLanguage %}{{ "languages." | append: link.lang | i18n: link.lang }}{% endcapture %}
		{%- capture translatedLanguage %}{{ "languages." | append: link.lang | i18n }}{% endcapture %}
  	<li><a href="{{link.url}}" lang="{{link.lang}}" hreflang="{{link.lang}}">{{ translatedLanguage }}</a>{% if link.lang != page.lang %} <em>({{ originalLanguage }})</em>	{% endif %}</li>
		{%- endfor -%}
	</ul>
</div>

{{ content }}