---
layout: marketing-components/base.liquid
metadata:
  helmet: >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/style.css">
    <script type="module" src="/public/is-land.js"></script>
    <script type="module" src="/public/snow-fall.js"></script>
    <script type="module" src="/public/language-hint.js"></script>
---
<is-land on:media="(prefers-reduced-motion: no-preference)">
	<snow-fall count="200"></snow-fall>
</is-land>
{% assign links = page.url | locale_links %}
<language-hint class="language-chooser demo-mb2">
	{{ "languageswap" | i18n }}:
	<ul class="demo-inline">
		{%- for link in links %}
		{%- unless forloop.first %},{% endunless %}
		{%- capture originalLanguage %}{{ "languages." | append: link.lang | i18n: link.lang }}{% endcapture %}
		{%- capture translatedLanguage %}{{ "languages." | append: link.lang | i18n }}{% endcapture %}
  	<li><a href="{{link.url}}" lang="{{link.lang}}" hreflang="{{link.lang}}">{{ translatedLanguage }}{% if link.lang != page.lang %} / {{ originalLanguage }}</a>{% endif %}</li>
		{%- endfor -%}
	</ul>
</language-hint>

{{ content }}

<div class="search">
	<h2>{{ "search" | i18n }}</h2>
	<script type="module" src="/public/pagefind-search.js"></script>
	<is-land on:idle on:visible>
		<pagefind-search></pagefind-search>
	</is-land>
</div>