---
layout: layout.liquid
pagination:
  data: songs
  alias: song
  size: 1
  addAllPagesToCollections: true
  # See `before` in `songs.11tydata.js`
eleventyComputed:
  lang: "{{ song.language }}"
  albumArtUrl: "https://v1.opengraph.11ty.dev/{{ song.urls.Spotify | url_encode }}/opengraph/"
  metadata:
    title: "Taylor Swift: {{ song.title }}"
    titleHtml: "<a href='{{ song.slug }}'>Taylor Swift</a><span>{{ song.title }}</span>"
    cta:
      url: "{{ song.slug }}"
      text: "{{ 'songs' | i18n }}"
tags: songs
permalink: "{{ song.slug }}{{ song.title | slugify }}/"
---
{%- if song.urls %}
<ul class="demo-inline demo-mb2">
	<li><strong>{{ 'listen' | i18n }}</strong></li>
	{%- for url in song.urls %}
	<li><a href="{{ url[1] }}"><img alt="Favicon for {{ url[1] }}" loading="lazy" decoding="async" src="https://v1.indieweb-avatar.11ty.dev/{{ url[1] | url_encode }}/" width="40" height="40" class="demo-icon demo-icon-rounded">{{ url[0] }}</a></li>
	{%- endfor %}
</ul>
{%- endif %}

<img src="{{ albumArtUrl }}" width="640" height="640" alt="Album Art for {{ song.title }}" class="song-album-art">

<pre>
{{ song.lyrics }}
</pre>
