---
layout: layout.liquid
pagination:
  data: songs
  alias: song
  size: 1
  addAllPagesToCollections: true
  # See `before` in `songs.11tydata.js`
eleventyComputed:
  lang: "{{ song.language }}"
  metadata:
    title: "{{ song.title }} — Taylor Swift"
    cta:
      url: "{{ song.slug }}"
      text: "{{ 'home.songs' | i18n }}"
tags: songs
permalink: "{{ song.slug }}{{ song.title | slugify }}/"
---
{% if song.tidalEmbedUrl %}
<div style="max-width: 30em; margin: 0 auto;"><div style="position: relative; padding-bottom: 100%; height: 0; overflow: hidden; max-width: 100%;"><iframe src="{{ song.tidalEmbedUrl }}" frameborder="0" allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 1px; min-height: 100%; margin: 0 auto;"></iframe></div></div>
{% endif %}

<pre>
{{ song.lyrics }}
</pre>
